<template>
  <div class="hero">
    <h1 id="homeH1" class="vue-title">Homer for President</h1>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <h3 id="homeH3">Time for saving money!!!</h3>
  </div>
</template>

<style>
  .hero .lead {
    font-weight: 200;
    font-size: 2.5rem;
  }
  #app1 {
    width: 60%;
    margin: 0 auto;
  }
  #homeH1 {
    color: #ffa519;
  }
  #homeH3 {
    font-size: 100px;
  }
</style>
