<template>
  <div class="hero">
    <div>
      <img class="img1" src="../assets/credit-card.png">
      <img id="img" class="img2" src="../assets/credit-card.png">
    </div>
    <div class="login-wrap" v-show="showLogin">
      <h3>Login</h3>
      <div class="form-group" :class="{'form-group--error': $v.userName.$error}">
        <input id="loginUserName" type="email" placeholder="Please enter user name" v-model="userName">
      </div>
      <div class="error" v-if="!$v.userName.required">User name is required</div>
      <div class="form-group" :class="{'form-group--error': $v.password.$error}">
        <input id="loginPassword" type="password" placeholder="Please enter password" v-model="password">
      </div>
      <div class="error" v-if="!$v.password.required">Password is required</div>
      <div class="error" v-if="!$v.password.minLength">Password is 6 - 12 digit</div>
      <div class="error" v-if="!$v.password.maxLength">Password is 6 - 12 digit</div>
      <button id="login" class="loginButton" v-on:click="login(userName)">Login</button>
      <span id="toRegister" v-on:click="ToRegister">Dont have an account? Register!</span>
    </div>
    <div class="login-wrap" v-show="showRegister">
      <h3>Register</h3>
      <div class="form-group" :class="{'form-group--error': $v.newUserName.$error}">
        <input id="registerUserName" type="email" placeholder="Please enter user name" v-model="newUserName">
      </div>
      <div class="error" v-if="!$v.newUserName.required">User name is required</div>
      <div class="form-group" :class="{'form-group--error': $v.newPassword.$error}">
        <input id="registerPassword" type="password" placeholder="Please enter password" v-model="newPassword">
      </div>
      <div class="error" v-if="!$v.newPassword.required">Password is required</div>
      <div class="error" v-if="!$v.newPassword.minLength">Password is 6 - 12 digit</div>
      <div class="error" v-if="!$v.newPassword.maxLength">Password is 6 - 12 digit</div>
      <div class="form-group" :class="{'form-group--error': $v.newName.$error}">
        <input id="registerName" type="text" placeholder="Please enter your name" v-model="newName">
      </div>
      <div class="error" v-if="!$v.newName.required">Name is required</div>
      <div class="error" v-if="!$v.newName.minLength">Name is 4 - 10 digit</div>
      <div class="error" v-if="!$v.newName.maxLength">Name is 4 - 10 digit</div>
      <div class="form-group" :class="{'form-group--error': $v.newPhoneNumber.$error}">
        <input id="registerPhoneNumber" type="number" placeholder="Please enter phoneNumber" v-model="newPhoneNumber">
      </div>
      <div class="error" v-if="!$v.newPhoneNumber.required">Phone number is required</div>
      <div class="error" v-if="!$v.newPhoneNumber.minLength">Phone number is 9 digit</div>
      <div class="error" v-if="!$v.newPhoneNumber.maxLength">Phone number is 9 digit</div>
      <button class="loginButton" v-on:click="register">Register</button>
      <span id="toLogin" v-on:click="ToLogin">Already have an account? Login!</span>
    </div>
  </div>
</template>

<style>
  input::-webkit-input-placeholder {
    color: white;
  }

  .login-wrap {
    margin-top: 30vh;
    margin-left: 63vw;
    position: absolute;
  }

  input {
    display: block;
    width: 250px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 20px;
    outline: none;
    border: 1px solid white;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    color: darkslategray;
  }

  .loginButton {
    display: block;
    width: 250px;
    height: 40px;
    line-height: 40px;
    border: none;
    background-color: #5DADE2 ;
    color: #fff;
    font-size: 16px;
    margin: 0 auto 5px;
  }

  span:hover {
    color: #41b883;
  }

  .img1 {
    position: absolute;
    height: 40vh;
    left: 300px;
    top: 280px;
  }

  .img2 {
    position: absolute;
    height: 40vh;
    left: 300px;
    top: 280px;
  }
</style>

<script>
import userservice from '../services/userservice'
import Vue from 'vue'
import VueForm from 'vueform'
import Vuelidate from 'vuelidate'
import {maxLength, minLength, required} from 'vuelidate/lib/validators'
Vue.use(VueForm, {
  inputClass: {
    valid: 'form-control-success',
    invalid: 'form-control-danger'
  }
})

Vue.use(Vuelidate)

export default {
  data () {
    return {
      errors: [],
      showLogin: true,
      showRegister: false,
      userName: '',
      password: '',
      newUserName: '',
      newPassword: '',
      newName: '',
      newPhoneNumber: ''
    }
  },
  validations: {
    userName: {
      required
    },
    password: {
      required,
      minLength: minLength(6),
      maxLength: maxLength(12)
    },
    newUserName: {
      required
    },
    newPassword: {
      required,
      minLength: minLength(6),
      maxLength: maxLength(12)
    },
    newName: {
      required,
      minLength: minLength(4),
      maxLength: maxLength(10)
    },
    newPhoneNumber: {
      required,
      minLength: minLength(9),
      maxLength: maxLength(9)
    }
  },
  mounted () {
    this.rotate()
  },
  methods: {
    login: function (userName) {
      if (this.userName === '' || this.password === '') {
        this.$swal('Please enter user name and password')
      } else {
        userservice.findUserPasswordViaUserName(userName)
          .then(response => {
            if (response.data.data === '0') {
              this.$swal('User not exist')
            } else if (response.data.data[0].userPassword !== this.password) {
              this.$swal('Incorrect password!')
            } else {
              localStorage.userName = userName
              localStorage.userId = response.data.data[0]._id
              localStorage.name = response.data.data[0].name
              localStorage.phoneNumber = response.data.data[0].phoneNumber
              document.getElementById('user').innerText = (' ' + localStorage.name)
              this.$router.push('/home')
            }
          }).catch(this.$swal.noop)
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      }
    },
    register: function () {
      if (this.newUserName === '' || this.newPassword === '') {
        this.$swal('Please enter user name and password')
      } else {
        let user = {
          userName: this.newUserName,
          password: this.newPassword,
          name: this.newName,
          phoneNumber: this.newPhoneNumber
        }
        userservice.postUser(user)
          .then(response => {
            console.log(response)
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      }
    },
    ToRegister: function () {
      this.showRegister = true
      this.showLogin = false
    },
    ToLogin: function () {
      this.showRegister = false
      this.showLogin = true
    },
    rotate: function () {
      let img = document.getElementById('img')
      img.style.transform = 'rotate(-30deg)'
      img.style.transformOrigin = 'bottom left'
      img.style.transition = 'transform 1s linear'
    }
  }
}
</script>
