<template>
  <div class="hero">
    <h3 class="vue-title"><i class="far fa-credit-card"> </i>{{messagetitle}}</h3>
    <img class="img" src="../assets/card.png">
    <h3 class="cardInfo"><i class="fas fa-credit-card"> Card Number: {{cardNumber}}</i><br/><br/><i class="fas fa-euro-sign"> EUR Balance: {{EURBalance}}</i><br/><br/><i class="fas fa-yen-sign"> CNY Balance: {{CNYBalance}}</i></h3>
  </div>
</template>

<script>
import cardservice from '../services/cardservice'

export default {
  name: 'MyCards',
  data () {
    return {
      messagetitle: ' My cards ',
      errors: [],
      cardNumber: localStorage.cardNumber,
      EURBalance: localStorage.EURBalance,
      CNYBalance: localStorage.CNYBalance
    }
  },
  created () {
    this.loadCards(localStorage.userName)
  },
  methods: {
    loadCards: function (userName) {
      cardservice.fetchCard(userName)
        .then(response => {
          localStorage.cardNumber = response.data.data[0].cardNumber
          localStorage.EURBalance = response.data.data[0].EURBalance
          localStorage.CNYBalance = response.data.data[0].CNYBalance
          localStorage.cardId = response.data.data[0]._id
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    },
    deleteCard: function (id) {
      this.$swal({
        title: 'Are you totally sure?',
        text: 'You can\'t Undo this action',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'OK Delete it',
        cancelButtonText: 'Cancel',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then((result) => {
        console.log('SWAL Result : ' + result)
        if (result === true) {
          cardservice.deleteCard(id)
            .then(response => {
              this.message = response.data
              console.log(this.message)
              this.loadCards()
              this.$swal('Deleted', 'You successfully deleted this Card ' + response.data.cardNumber)
            })
            .catch(error => {
              this.$swal('ERROR', 'Something went wrong trying to Delete ' + error, 'error')
              this.errors.push(error)
              console.log(error)
            })
        } else {
          this.$swal('Cancelled', 'Your Card still Counts!', 'info')
        }
      })
    }
  }
}
</script>

<style scoped>
  .img {
    height: 40%;
    margin-right: 5vw;
    margin-top: 20vh;
    margin-bottom: 15vh;
  }
  .cardInfo {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
  }
</style>
