<template>
  <div class="hero">
    <h3 class="vue-title"><i class="fas fa-user" style="padding: 3px"> </i>{{messagetitle}}</h3>
    <h3><br/><br/><br/><br/><i class="fas fa-user"> </i> My user name: {{userName}}</h3>
    <h3 id="cardNumber" v-on:click="onClick"><br/><i class="far fa-credit-card"> </i> My card: {{cardNumber}}</h3>
    <h3><br/><i class="fas fa-phone-volume"> </i> My phoneNumber: {{phoneNumber}}</h3>
  </div>
</template>

<script>
import userservice from '../services/userservice'
import MyCards from './MyCards'
export default {
  name: 'Profile',
  data () {
    return {
      messagetitle: ' My Profile ',
      user: [],
      errors: [],
      userName: localStorage.userName,
      cardNumber: localStorage.cardNumber,
      phoneNumber: localStorage.phoneNumber
    }
  },
  created () {
    this.loadUser(localStorage.userName)
    MyCards.methods.loadCards(localStorage.userName)
  },
  methods: {
    loadUser: function (userName) {
      userservice.findUserPasswordViaUserName(userName)
        .then(response => {
          this.user = response.data
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    },
    onClick: function () {
      this.$router.push('/mycards')
    }
  }
}
</script>

<style scoped>
</style>
