<template>
  <form @submit.prevent="submit">
    <div class="form-group" :class="{'form-group--error': $v.amount.$error}">
      <label id="aLabel" class="form-control-label">Amount (1-2000)</label>
      <input id="amount" class="form_input" type="number" v-model.trim="amount"/>
    </div>
    <div class="error" v-if="!$v.amount.required">Amount is required</div>
    <div class="error" v-if="!$v.amount.between">Amount is between 1 and 2000</div>
    <div class="form-group" :class="{'form-group--error': $v.password.$error}">
      <label id="pLabel" class="form-control-label">Password (6-digit)</label>
      <input id="password" class="form_input" type="password" v-model.trim="password"/>
    </div>
    <div class="error" v-if="!$v.password.required">Password is required</div>
    <div class="error" v-if="!$v.password.minLength">Password is 6 digit</div>
    <div class="error" v-if="!$v.password.maxLength">Password is 6 digit</div>
    <p>
      <button id="sub" class="btn btn-primary btn1" type="submit" :disabled="submitStatus === 'PENDING'">{{operationBtnTitle}}</button>
    </p>
    <p class="typo__p" v-if="submitStatus === 'ERROR'">Please fill in the form correctly</p>
    <p class="typo__p" v-if="submitStatus === 'PENDING'">Pending</p>
  </form>
</template>

<script>
import Vue from 'vue'
import VueForm from 'vueform'
import Vuelidate from 'vuelidate'
import {between, maxLength, minLength, required} from 'vuelidate/lib/validators'
Vue.use(VueForm, {
  inputClass: {
    valid: 'form-control-success',
    invalid: 'form-control-danger'
  }
})

Vue.use(Vuelidate)

export default {
  name: 'OperationForm',
  props: ['operationBtnTitle', 'operation'],
  data () {
    return {
      amount: this.operation.amount,
      password: this.operation.password,
      submitStatus: null
    }
  },
  validations: {
    amount: {
      required,
      between: between(1, 2000)
    },
    password: {
      required,
      minLength: minLength(6),
      maxLength: maxLength(6)
    }
  },
  methods: {
    submit () {
      console.log('submit!')
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        this.submitStatus = 'PENDING'
        setTimeout(() => {
          this.submitStatus = null
          this.operation = {
            amount: parseInt(this.amount),
            password: this.password
          }
          console.log('Submitting in OperationForm : ' +
            JSON.stringify(this.operation, null, 5))
          this.$emit('operation-is-created-updated', this.operation)
        }, 500)
      }
    }
  }
}
</script>

<style scoped>
  .required-field > label::after {
    content: '*';
    color: red;
    margin-left: 0.25rem;
  }

  label {
    display: inline-block;
    width: 540px;
    text-align: left;
    font-size: x-large;
  }

  .typo__p {
    width: 540px;
    font-size: x-large;
  }

  .btn1 {
    width: 300px;
    font-size: x-large;
  }

  p {
    margin-top: 20px;
  }

  input {
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px 10px;
    width: 540px;
    background-color: transparent;
  }

  .error {
    border-color: red;
    background: red;
    color: whitesmoke;
  }

  .error:focus {
    outline-color: #ffa519;
  }
</style>
