<template>
  <div class="hero">
    <h3 class="vue-title"><i class="fa fa-money"> </i> {{messagetitle}}</h3>
    <div style="position: absolute;margin-top: 25vh;margin-left: 18vw" class="row justify-content-center">
      <div class="col-md-6">
        <operation-form :operation="operation" operationBtnTitle="Withdraw Money"
                        @operation-is-created-updated="submitOperation"> </operation-form>
      </div><!-- /col -->
    </div><!-- /row -->
  </div>
</template>

<script>
import OperationForm from './OperationForm'
import cardservice from '../services/cardservice'
import Vue from 'vue'
import VueSweetalert from 'vue-sweetalert'

Vue.use(VueSweetalert)

export default {
  name: 'Withdraw',
  data () {
    return {
      messagetitle: 'Withdraw Money',
      operation: {amount: 0, password: ''},
      cardId: localStorage.cardId
    }
  },
  components: {
    'operation-form': OperationForm
  },
  methods: {
    submitOperation: function (operation) {
      cardservice.withdrawMoney(this.cardId, operation)
        .then(response => {
          if (response.data.message === 'Invalid Password') {
            console.log(response)
            this.$swal('Invalid Password')
          } else if (response.data.message === 'Insufficient Balance') {
            this.$swal('Insufficient Balance')
          } else {
            this.$swal('Withdrew Successfully')
            this.$router.push('/mycards')
          }
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>

</style>
