<template>
  <div id="app">
    <b-navbar toggleable="md" variant="warning" type="dark">
      <b-navbar-toggle target="nav_collapse"> </b-navbar-toggle>
      <b-navbar-brand to="/">Bank System Web App</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/home"><i class="fas fa-home" style="padding: 5px"> Home</i></b-nav-item>
          <b-nav-item to="/mycards"><i class="fas fa-credit-card" style="padding: 5px"> My Card</i> </b-nav-item>
          <b-nav-item to="/save"><i class="fas fa-money-bill-alt" style="padding: 5px"> Save Money</i> </b-nav-item>
          <b-nav-item to="/withdraw"><i class="fas fa-money-bill-alt" style="padding: 5px"> Withdraw Money</i> </b-nav-item>
          <b-nav-item to="/purchase"><i class="fas fa-yen-sign" style="padding: 5px"> Purchase Exchange</i> </b-nav-item>
          <b-nav-item to="/settle"><i class="fas fa-euro-sign" style="padding: 5px"> Settle Exchange</i> </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item to="/profile"><i class="fas fa-user" id="user" style="padding: 5px"> {{name}}</i> </b-nav-item>
          <b-nav-item @click="logOut"><i class="fas fa-sign-out-alt" style="padding: 5px"> Log Out</i> </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      name: localStorage.name
    }
  },
  methods: {
    logOut: function () {
      this.$swal({
        text: 'Are you sure to log out?',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Log out',
        cancelButtonText: 'Cancel',
        showCloseButton: true
      }).then((result) => {
        if (result === true) {
          localStorage.clear()
          document.getElementById('user').innerText = (' My profile')
          if (this.$route.path !== '/') {
            this.$router.push('/')
          }
        }
      }).catch(this.$swal.noop)
    }
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0;
}

  .hero {
    height: 92.9vh;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("./assets/cardBackground.png") no-repeat right center;
  }

  h3 {
    color: hotpink;
    font-size: 40px;
  }

  h1 {
    color: white;
  }

  p {
    color: white;
  }

  .vue-title {
    position: absolute;
    font-size: 50px;
    margin-left: 40vw;
    margin-top: 50px;
  }

  span {
    cursor: pointer;
    color: mediumvioletred;
  }

  i {
    color: dodgerblue;
  }
</style>
